.mobile-menu, .hamburger-btn {
  display: none;
}

.mobile-name {
  display: none;
}

@media screen and (max-width: 770px) {
  .intro {
    height: 385px;
    margin-top: 10px;
    background: #fff url("../img/mobile/intro-bg.svg") no-repeat;
    background-size: contain;
    background-position: center;
  }
  .intro header {
    height: 50px;
  }
  .intro .logo {
    width: 75px;
    height: auto;
    margin-left: 10px;
  }
  .intro .big-menu {
    display: none;
  }
  .intro .hamburger-btn {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: 200ms;
  }
  .intro .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 180px;
    background: #FFE8C6;
    transform: translateX(200%);
    transition: transform 0.2s;
  }
  .intro .show-menu {
    transform: translateX(0);
  }
  .intro .nav-links-list {
    display: block;
    margin: 35px 0 25px 15px;
  }
  .intro .nav-links-list li {
    margin-bottom: 10px;
  }
  .intro .profile-links-list {
    display: block;
    margin: 35px 0 25px 15px;
  }
  .intro .profile-links-list li {
    margin-bottom: 10px;
  }
  .intro .nav-link {
    margin: 0;
    font-size: 18px;
    line-height: 19px;
  }
  .intro .intro-info {
    width: 109px;
    display: flex;
    flex-direction: column;
  }
  .intro .intro-info .name {
    display: none;
  }
  .intro .intro-info .mobile-name {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
  .intro .intro-info .intro-text {
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    margin: 5px 0 10px 0;
  }
  .intro .intro-info .join-btn {
    width: 100%;
    height: 30px;
    font-size: 10px;
  }

  .title-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: relative;
  }
  .title-block .background-title {
    width: 93%;
    font-size: 0;
    padding: 0;
    margin: 0;
    height: 3px;
    background: #F9B85A;
  }
  .title-block .title {
    background: #fff;
    text-align: center;
    padding: 0;
    top: 20px;
  }
  .title-block .mobile-title-tariffs {
    width: 120px;
  }
  .title-block .mobile-title-bonuses {
    width: 140px;
    top: 10px;
  }
  .title-block .mobile-title-audience, .title-block .mobile-title-brends {
    background: none;
  }
  .title-block .mobile-title-skills {
    width: 200px;
  }
  .title-block .mobile-title-creator {
    width: 210px;
  }
  .title-block .mobile-title-stars {
    width: 270px;
  }

  .tariffs {
    scroll-margin: 50px;
    background: url("../img/stars-bg.svg") no-repeat;
    background-position: center left;
  }

  .tariffs-slider-window {
    width: 310px;
    margin: 0 auto;
  }

  .tariffs-slider {
    margin-bottom: 50px;
    max-height: none;
    justify-content: flex-start;
  }

  .tariff-card {
    width: 310px;
    height: 526px;
    padding: 22px 40px 25px 40px;
    background: #fff;
    border: 3px solid #000000;
    transition: 300ms;
    z-index: 10;
    margin: 0;
  }

  .tariff-title {
    font-size: 16px;
    transition: 300ms;
  }

  .tariff-price {
    font-size: 16px;
    transition: 300ms;
  }

  .tariff-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: none;
    transition: 300ms;
  }

  .tariff-programm {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .tariff-programm-b {
    margin-bottom: 0px;
  }

  .tariff-programm li::marker {
    color: #F9B85A;
  }

  .actvive-tariff-card-content {
    display: block;
  }

  .tariff-extra {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 700;
  }

  .tariff-extra li {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }

  .tariff-extra li:first-child {
    margin-top: 5px;
    display: flex;
  }

  .tariff-extra li:first-child div p {
    margin-left: 10px;
    font-size: 12px;
  }

  .tariff-extra li::marker, .active-tariff-programm li::marker {
    color: #F9B85A;
  }

  .tariff-btn {
    height: 48px;
    color: #fff;
    background: #F9B85A;
    flex-shrink: 0;
  }

  .tariff-btn-b {
    margin-top: 10px;
  } 


  .bonuses {
    scroll-margin: 50px;
    background: #fff;
  }

  .bonuses-list {
    align-items: center;
    margin: 20px;
  }
  .bonuses-list .bonus:nth-child(n) {
    margin-left: 0;
    margin-right: 0;
  }
  .bonuses-list .bonus-text {
    margin-left: 30px;
  }

  .aud-slider {
    display: flex;
    align-items: center;
  }

  .aud-slider-window {
    width: 200px;
    overflow: hidden;
  }

  .aud-card {
    padding: 25px 20px 15px 20px;
    width: 200px;
    height: 248px;
    flex-shrink: 0;
    margin: 0;
  }

  .join-btn-aud {
    width: 115px;
    height: 39px;
    font-size: 12px;
  }

  .skills {
    background: #fff;
  }

  .creator-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .creator-img-block {
    width: 80%;
    margin: 0 0 20px 0;
    order: -1;
  }

  .stars {
    align-items: center;
  }

  .stars-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .stars-slider-window {
    width: 244px;
    height: 270px;
    position: relative;
    overflow: hidden;
  }

  .stars-content {
    margin: 0;
    display: flex;
    background-image: none;
  }

  .star-block {
    min-width: 0;
    height: 230px;
  }

  .stars-arrow {
    display: block;
    margin: 20px;
    position: relative;
    bottom: 20px;
  }

  .brends-content {
    width: 100%;
  }

  .brend-logo-block {
    margin: 0 10px 20px 10px;
  }

  .tv-reviews {
    scroll-margin: 50px;
  }

  .tv-slider-window {
    width: 100vw;
  }

  .tv-content, .rv-content {
    transform: translateX(0);
  }

  .tv-arrow {
    display: none;
  }

  .contacts-content {
    width: 100%;
    justify-content: center;
  }

  .contacts-img {
    display: none;
  }

  .footer p {
    font-size: 6px;
  }

  .footer-info {
    flex-wrap: wrap;
    justify-content: none;
  }

  .footer-links {
    order: -1;
    flex-direction: column;
    width: 120px;
  }

  .footer-links li {
    font-size: 14px;
  }

  .cookie {
    order: -2;
    margin: 0;
    width: 240px;
  }

  .cookie p {
    font-size: 8px;
    line-height: 10px;
  }

  .email, .telephone {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .pre-margin-text {
    margin-bottom: 5px;
  }

  .ip-info {
    font-size: 8px;
    line-height: 10px;
  }
}